html {
  scroll-behavior: smooth;
}



body {
  background-color: #F8F8FF;
  margin: 0;
}

#container
 {
  margin: 10px auto 20px;
  border: 1px solid grey;
  width: 1200px;
  text-align: justify;

}


#title {
  
  }

  .section-header {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration-line: underline;
    font-size: 30px;
    color: rgb(0, 17, 204);
  }

  header {
    position: relative;
    overflow: hidden;
  }

  header ul {
    list-style: none;
    ;
  }

  header img {
    border-radius: 35px;
  }

  #background {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url('tlo.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    z-index: 11;
    opacity: 0.5;
  }

  #header-content {
    position: relative;
    z-index: 11;
    padding: 10px;
    text-align:center;

    margin:50px;

background: rgba(116, 97, 118, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.2px);
-webkit-backdrop-filter: blur(4.2px);
border: 1px solid rgba(116, 97, 118, 0.61);


  }

    #header-content ul {
      list-style: none;
    }

  a {
    text-decoration: underline;
    color: #000;
    transition: 1s;
  }

  a:hover {
    color: #78dfe4;
  }
  
.skills span {
  border:1px solid #78dfe4;
  padding: 5px 10px;
  margin: 2px;
  color:#78dfe4;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
}

@media screen and (max-width: 960px) {
  .rwd-table {
    overflow-x: scroll;
  }
}  

.table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1%;
}

.table td,th {
  font-size:14px;
  border:1px solid black;
  padding: 5px 12px;
}

#caption {
  caption-side: top;
  text-align: center;
  color: #000;
  font-size: 25px;
  
}

@media screen and (min-width:960px) {
  table {
    width:100%;
    table-layout:fixed;
  }
}

#headlines {
  text-align: center;
}

